.footer {
    // margin-top: 1rem;
    // padding: 1rem;
    position: fixed;
    // bottom: 0;
    // left: 0;
    height: 80px;
    width: 100%;
    // position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(231, 228, 222);
    text-align: center;
    padding-top: 1rem;

}

a {
    color: rgb(10, 9, 7);
    text-decoration: none;
}
.icons {
    margin-top:5px;
    margin-bottom: 0px;
}