.header {
  font-size: 24px;
  color: #333;
  text-align: left;
  height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  line-height: 100px;
  vertical-align: middle;
}
.header img {
  vertical-align: middle;
}
.header span {
  font-size: 16px;
  border: 1px solid #565656ff;
  border-radius: 20px;
  vertical-align: middle;
  color: #4a4a4a;
  padding: 5px 10px;
}

.logo {
  // height-12 w-auto sm:h-12;
  height: 3rem !important;
  width: auto !important;
  max-width: 100%;
}

.Time {
  color: #999;
  float: right;
  text-align: right;
}
